body{
      background-color: #f2f2f2;
}

.login-container {
    margin-top: 10vh;
}

.register-container {
    margin-top: 8vh;
}

.error-message {
    color: red;
    font-size: 0.9rem;
}

.success-message {
    color: green;
    font-size: 0.9rem;
}