body {
    background-color: #f4f5f6;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    padding-top: 70px;
    padding-bottom: 60px;
  }

.login-container {
    margin-top: 10vh;
}

.register-container {
    margin-top: 8vh;
}

.error-message {
    color: red;
    font-size: 0.9rem;
}

.success-message {
    color: green;
    font-size: 0.9rem;
}