
.sport-showcase {
    background: url('../img/banner1.jpeg') center center no-repeat;
    background-size: cover;
    height: 60vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
  }
  
  .sport-showcase h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  